@model Intranet.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<div class="card accountcard position-absolute shadow top-50 start-50 translate-middle">
    <div class="card-body p-5 pt-4">
        <form asp-action="ForgotPassword" method="post">
            <div class="row">
                <div class="col text-center">
                    <i class="accounticon bi bi-lock"></i>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <label class="fw-bold accounttitle">ลืมรหัสผ่าน?</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <label class="accountdescriptiontitle">ใส่อีเมลของคุณที่ต้องการรีเซ็ตรหัสผ่าน</label><br />
                    <label class="accountdescriptiontitle">และระบบจะส่งรหัสผ่านใหม่ไปยังอีเมลของคุณ</label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label class="accountlabel pb-3"><b>อีเมล</b></label>
                    <input class="form-control accountinput p-3" type="email" asp-for="Email" placeholder="กรุณาใส่อีเมลของคุณ" required>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col">
                    <button class="btn accountbtn fw-bold text-nowrap p-2" type="submit">ส่งรหัสผ่านใหม่</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col text-center">
                    <a class="fw-bold text-nowrap accountlabelforgotpassword" asp-action="Login">กลับไปยังหน้าเข้าสู่ระบบ</a>
                </div>
            </div>
        </form>
    </div>

</div>


@*--**********ErrorForgotPasswordModal**********--*@
@if (ViewBag.ErrorForgotPassword == "Error")
{
    <div class="modal fade accountmodal" id="ErrorForgotPasswordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ErrorForgotPasswordModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-3">
                <div class="modal-body">
                    <div class="text-center">
                        @if (ViewBag.ErrorTextForgotPassword == "SuccessUserEMail")
                        {
                            <i class="bi bi-check-circle iconerroraccountmodal rounded-circle"></i>
                        }
                        else
                        {
                            <i class="bi bi-exclamation-circle iconerroraccountmodal rounded-circle"></i>
                        }
                    </div>
                    <div class="mt-0 text-center">
                        @if (ViewBag.ErrorTextForgotPassword == "ErrorUserEMail")
                        {
                            <label class="labelerroraccountmodal fw-bold">อีเมลไม่ถูกต้อง</label>
                        }
                        else if (ViewBag.ErrorTextForgotPassword == "SuccessUserEMail")
                        {
                            <label class="labelerroraccountmodal fw-bold">ส่งรหัสผ่านใหม่ไปยังอีเมลของคุณแล้ว</label>
                        }
                        else
                        {

                        }
                    </div>
                    <div class="mt-3 text-center">
                        @if (ViewBag.ErrorTextForgotPassword == "ErrorUserEMail")
                        {
                            <label class="labelaccountmodal">เนื่องจากอีเมลไม่ถูกต้อง</label>

                            <br />
                            <label class="labelaccountmodal">ทำให้ไม่สามารถส่งรหัสผ่านใหม่ไปยังอีเมลได้</label>

                            <br />
                            <label class="labelaccountmodal">กรุณาใส่อีเมลใหม่</label>
                        }
                        else if (ViewBag.ErrorTextForgotPassword == "SuccessUserEMail")
                        {
                            <label class="labelaccountmodal">กรุณาตรวจสอบรหัสผ่านใหม่ในอีเมลของคุณ</label>
                        }
                        else
                        {

                        }
                    </div>
                </div>
                <div class="text-center mt-3 mb-3">
                    @if (ViewBag.ErrorTextForgotPassword == "SuccessUserEMail")
                    {
                        <form asp-controller="Account" asp-action="Logout">
                            <button class="btn p-2 ms-2 btnaccountmodal" type="submit" data-bs-dismiss="modal">ตกลง</button>
                        </form>
                    }
                    else
                    {
                        <button class="btn p-2 ms-2 btnaccountmodal" type="button" data-bs-dismiss="modal">ตกลง</button>
                    }
                </div>
            </div>
        </div>
    </div>
}
